.index {
    overflow: hidden;
    &:after {
        content: "";
        clear: both;
    }
}

.index__bumper {
    font-size: 20px;
    line-height: 26px;
    max-width: 100%;
    float: none;
    text-align: justify;
}

.index__twitter {
    float: right;
    height: 250px;
    overflow: auto;
}

@media (max-width: 800px) {
    .index__twitter {
        display: none;
    }

    .index__bumper {
        text-align: justify;
        max-width: none;
        float: none;
    }
}
div.lab{
    content:url(https://pbs.twimg.com/profile_images/1223290340704051200/Xts3Xwsa_400x400.jpg);
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%
 }