---
layout: page
title: Lab Members
subtitle: The people who keep the lab going.
permalink: /members/
color: '#6c0f8d'
---
<div class='member'>
    {% for person in site.data.member %}
    <div class='person'>
    {% if person.pic %}
        <img src='/assets/members/ person.pic }}'/>
    {% else %}
        <a class='fa fa-user-secret'></a>
    {% endif %}
        <ul class='details'>
            <li class='details__attribute details--name'>{{ person.name }}</li>
            <li class='details__attribute details--title'>{{ person.title }}</li>
            <li class='details__attribute details--social'>
            {% if person.funfacts %}
            <li class='details__attribute details--funfact'>
            {% for funfact in person.funfacts %}
                <span class='attribute__funfact'>{{funfact}}</span><br />
            {% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
    <span class='member__stretch'></span>
</div>

<h1>Former Members</h1>

<div class='member'>
    {% for person in site.data.former_members %}
    <div class='person'>
    {% if person.pic %}
        <img src='/assets/member/{{ person.pic }}'/>
    {% else %}
        <a class='fa fa-user-secret'></a>
    {% endif %}
        <ul class='details'>
            <li class='details__attribute details--name'>{{ person.name }}</li>
            <li class='details__attribute details--title'>{{ person.title }}</li>
            {% if person.currently %}
            <li class='details__attribute details--funfacts'>
                Now at:<br />
            {% if person.currently.url %}
                <a href={{person.currently.url}} target="_blank">
            {% endif %}
                <span class='attribute__funfact'>{{person.currently.place}}</span>
            {% if person.currently.url %}
                </a>
            {% endif %}
            </li>
            {% endif %}

        </ul>
    </div>
    {% endfor %}
    <span class='member__stretch'></span>
</div>
