---
layout: page
title: Research
subtitle: Developmental Neurobiology and Cell Specification
permalink: /research/
color: purple
---
{% for section in site.data.Research %}
    <h1 id="{{section.name | downcase | replace:' ','_' }}">{{section.name}}</h1>
    {% for research in section.research %}
        <div class="research">
            <div class="research__container">
                <div class="research__header">
                    <span class="research__title">
                <div class="research__summary">
                </div>
                    {{Research.summary}}
                </div>
            </div>
    {% endfor %}
{% endfor %}
