<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>
        <span>
            <a href="">Department of Neurobiology</a>,
            <a href="">Harvard Medical School</a>
        </span>

    <ul class="social-links">
        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
</header>
