.research {
    margin-bottom: 50px;
    overflow: hidden;
}

.research__container {
    float: left;
    max-width: 650px;

}

.research__header {
    margin-bottom: 5px;
}

.research__title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.research__social {
    font-size: 20px;
    line-height: 26px;
    float: right;
}

.research__summary {
    text-align: justify;
}

.research__image {
    font-size: 100px;
    width: 110px;
    float: right;
    text-align: center;
}

.research__image a {
    text-decoration: none;
}

@media (max-width: 800px) {
    .research__title {
        font-size: 22px;
        font-weight: bold;
    }

    .research__image {
        display: none;
    }
}
